<h1>Drivers#new</h1>

<%= render partial: "driver_form", locals: {
form_class: "new-driver",
intro_text: "Add New Driver",
action_name: "Add Driver"}
%>

<p>Find me in app/views/drivers/new.html.erb</p>
